################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GCD0805/App_Data/aspnet-GCD0805-20210927112425.mdf
/GCD0805/App_Data/aspnet-GCD0805-20210927112425_log.ldf
