@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Management App</h1>
    <p class="lead">Application for managing employees</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User</h2>
        <p>
        For User
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manager</h2>
        <p>For Manager</p>
    </div>
    <div class="col-md-4">
        <h2>Administrator</h2>
        <p>For Admin</p>
    </div>
</div>